@import 'variables.scss';

.category {
    height: 20px;
    width: 160px;
    text-align: left;
    color: #999999;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.03em;
    margin-left: 20px;
}

.productImage {
    width: 169.55px;
    height: 292px;
    margin-left: 105px;
    margin-top: 210px;
    background-color: #FFFFFF;
}

.productName {
    width: 340px;
    height: 48px;
    margin-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1A1A1A;
}

.productDescription {
    width: 341px;
    height: 40px;
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #1A1A1A;
}

.productRating {
    width: 115px;
    height: 20px;
    margin-left: -20px;
}

.feauturesContainer {
    margin-left: 20px;
}

.allRatings {
    margin-bottom: 8px;
}

.featureDescription {
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #1A1A1A;
}

.feature {
    margin-bottom: 0px;
}

.featureDetails {
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: #1A1A1A;

}

.shadeContainer {
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: 340px;
    height: 56px;
    border: 2px solid #E6E6E6;
}


.shadeName {
    width: 46px;
    height: 20px;
    margin-top: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #000000;
}

.shadeColor {
    height: 16px;
    width: 16px;
    background-color: #F6DFC8;
}

.shadeDescription {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    width: 340px;
    color: #E6E6E6;
    margin-left: 20px;
}

.productPurchase {
    width: 340px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #1A1A1A;
}

.productQuantity {
    display: flex;
    align-items: center;
}

.productFrequency {
    display: flex;
    align-items: center;
}

.productAcquisition {
    width: 340px;
    margin-left: 20px;
}

.productPrice {
    width: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1A1A1A;
    margin-bottom: 30px;
}

.addToBag {
    height: 56px;
    width: 340px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    background-color: #000000;
    margin-bottom: 60px;
}

.productGrid {
    margin-left: 20px;
}

.productSuggestion {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #1A1A1A;
}

.productBackground {
    width: 340px;
    height: 344px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.retailWrapper {
    width: 340px;
    margin-bottom: 50px;
}

.productRetailDetails {
    width: 340px;
    height: 72px;
    margin-bottom: 10px;
}

.productRetailDetails h1 {
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 300;
    margin-bottom: 0px;
    color: #1A1A1A;
}

.productRetailDetails h4 {
    font-size: 17px;
    line-height: 24px;
    margin-top: 0px;
    letter-spacing: 0.02em;
    font-weight: 300;
    color: #999999;
}

.Cta {
    margin-bottom: 100px;
}

.shopNow {
    box-sizing: border-box;
    position: absolute;
    width: 340px;
    height: 56px;
    background: #FFFFFF;
    border: 2px solid #E6E6E6;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #000000;
}

